<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @request.name %>,<p>

    <p>Welcome to the Sponsor a Pet family! We're thrilled you've chosen our platform to elevate the fundraising efforts for your nonprofit. Together, we aim to drive more awareness, support, and funds for the wonderful work you're doing for animals.</p>

    <p>Next Steps:</p>
    <ul>
      <li>1. <b>Profile Creation</b>: Now that you've created your profile, please let us know who you want to be your main point of contact and point of contact on the social media side. We want to make sure we can collaborate and share your stories across our social media.</li>

      <li>2. <b>Campaign Launch</b>: Start introducing your animal campaigns. The sooner you get them live, the faster we can begin our shared mission of fundraising for your organization. For now, please submit all profiles via email to your account manager who will publish them for you.</li>

      <li>3. <b>Stay Tuned</b>: A dedicated member from our team will reach out to you via email soon. They'll offer assistance, answer any queries, and if you wish, schedule a more in-depth introduction.</li>
    </ul>

    <p>Share Your Success Stories: We believe in the power of storytelling. If you have previous success stories or heartwarming moments from your nonprofit's journey, please share them with us. These narratives not only resonate with our community but also drive stronger engagement from potential donors.</p>

    <p>Stay Engaged:</p>

    <p>To witness the magic as it unfolds and to join in our collective celebrations, connect with us on our social platforms:</p>
    <ul>
      <li>https://www.facebook.com/sponsorapetfoundation</li>
      <li>https://www.instagram.com/sponsorapet/</li>
    </ul>
    <p>Your mission is now our shared endeavor. For any assistance or inquiries, you're always welcome to reach out. Let's make every campaign a success and brighten the lives of countless animals in need.</p>
    <p>Warmly,</p>
    <p>Scott DeFries | Founder</p>
  </body>
</html>
