@media screen and (max-width: 749px) {
  .articles-wrapper .article {
    width: 100%;
  }

  .blog-articles .card--standard>.card__content {
      padding: 0 1.35rem 1.35rem;
  }

  .article-card-wrapper .card__heading a {
    font-size: 24px!important;
    line-height: 29px!important;
  }
  .blog-articles .article-card-wrapper .card__information a.button {
    width: 100%;
  }
}

.article {
  display: flex;
  align-items: center;
}

.article.grid__item {
  padding: 0;
}

.grid--peek .article-card {
  box-sizing: border-box;
}

.article-card__image-wrapper > a {
  display: block;
}

.article-card__title {
  text-decoration: none;
  word-break: break-word;
}

.article-card__title a:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.article-card__link.link {
  padding: 0;
}

.article-card__link {
  text-underline-offset: 0.3rem;
}

.article-card .card__heading {
  margin-bottom: 0.6rem;
}

.blog-articles .article-card .card__information,
.blog__posts .article-card .card__information {
  display: flex;
  flex-direction: column;
}

.article-card__info {
  padding-top: 0.4rem;
}

.article-card__footer {
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.article-card__footer:not(:last-child) {
  margin-bottom: 1rem;
}

.article-card__footer:last-child {
  margin-top: auto;
}

.article-card__excerpt {
  width: 100%;
  margin-top: auto;
}

.article-card__link:not(:only-child) {
  margin-right: 3rem;
}

@media screen and (min-width: 990px) {
  .article-card__link:not(:only-child) {
    margin-right: 4rem;
  }
}

.article-card__image--small .ratio::before {
  padding-bottom: 11rem;
}

.article-card__image--medium .ratio::before {
  padding-bottom: 22rem;
}

.article-card__image--large .ratio::before {
  padding-bottom: 33rem;
}

@media screen and (min-width: 750px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 14.3rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 21.9rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 27.5rem;
  }
}

@media screen and (min-width: 990px) {
  .article-card__image--small .ratio::before {
    padding-bottom: 17.7rem;
  }

  .article-card__image--medium .ratio::before {
    padding-bottom: 30.7rem;
  }

  .article-card__image--large .ratio::before {
    padding-bottom: 40.7rem;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .articles-wrapper.grid {
    margin: 0 0 5rem 0;
  }

  @media screen and (min-width: 750px) {
    .articles-wrapper.grid {
      margin-bottom: 7rem;
    }
  }
}

.blog-articles .card-wrapper {
  border-radius: 5px;
}

.article-card__image-wrapper svg {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: auto;
}

.article-card__info.h5 {
  display: flex;
  align-items: end;
  column-gap: 10px;
  font-family: Assistant;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-bottom: 14px;
}

.article-card-wrapper .card__heading {
  margin-bottom: 20px;
}

.article-card-wrapper .card__heading a {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.article-card__excerpt {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

.article-card-wrapper .card__content {
  padding: 0;
}

.article-card-wrapper .card__information {
  padding-top: 0;
  padding-bottom: 0;
}

.article-card-wrapper .card__information a.button {
  width: fit-content;
  text-decoration: none;
}

.article-card__read-time {
  display: flex;
  margin-left: 1.5rem;
}
