.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-background-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 4rem;
}

@media (min-width: 990px) {
  .footer__content-top {
    display: flex;
    column-gap: 30px;
  }
}

@media (min-width: 1400px) {
  .footer__content-top {
    column-gap: 55.6px;
  }
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer-block.grid__item {
    padding: 0;
    margin: 2.8rem 0 0;
    width: 100%;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 3rem;
    padding-left: calc(4rem / var(--font-body-scale));
    padding-right: calc(4rem / var(--font-body-scale));
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom {
  position: relative;
  padding-top: 3rem;
  overflow: hidden;
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  background-color: #004387;
}

@media (min-width: 750px) {
  .footer__content-bottom-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
  }
}

.footer__content-bottom-wrapper .page-width {
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    padding-top: 0;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 2rem;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding: 2rem 0;
  }
}

.footer-block:only-child:last-child {
  text-align: center;
  max-width: 76rem;
  margin: 0 auto;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

.footer-block__newsletter-heading {
  margin: 0 0 2.8rem;
  font-size: 2.4rem;
  line-height: 1.2;
}

@media screen and (min-width: 990px) {
  .footer-block__newsletter-heading {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.footer-block__newsletter-desc {
  max-width: 42.8rem;
  margin: 2.5rem 0 1.8rem;
  font-size: 1.2rem;
  line-height: 1.57rem;
}

.footer .field__label {
  font-size: 1.6rem;
  left: calc(var(--inputs-border-width) + 2rem);
  top: calc(1.2rem + var(--inputs-border-width));
  margin-bottom: 0;
  pointer-events: none;
  position: absolute;
  transition: top var(--duration-short) ease,
    font-size var(--duration-short) ease;
  color: rgba(var(--color-foreground), 0.75);
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.footer .field__input:focus~.field__label,
.footer .field__input:not(:placeholder-shown)~.field__label,
.footer .field__input:-webkit-autofill~.field__label {
  top: calc(var(--inputs-border-width) + 0.5rem);
  left: calc(var(--inputs-border-width) + 2rem);
  letter-spacing: 0.04rem;
  font-size: 1rem;
}

.footer .newsletter-form__field-wrapper .field__input,
.footer .newsletter-form__field-wrapper .field__label,
.footer .newsletter-form__button {
  color: #ff7c33;
  font-size: 14px;
}

.footer .newsletter-form__field-wrapper .field__input {
  padding-right: 9rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: #fff;
  overflow: hidden;
}

.footer .newsletter-form__button {
  width: auto;
  padding: 0 1.3rem;
  font-weight: 700;
}

@media (min-width: 1400px) {
  .footer .newsletter-form__button {
    padding: 0 2.9rem;
  }
}

.footer__blocks-wrapper {
  margin-top: 3rem;
}

@media (min-width: 990px) {
  .footer__blocks-wrapper {
    margin-top: 1.5rem;
  }
}

.footer-block__heading {
  margin-bottom: 1.8rem;
  margin-top: 0;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

@media screen and (min-width: 990px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social {
  margin-top: 1.5rem;
}

.footer__list-social:empty {
  display: none;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer .footer__newsletter {
  margin: 0;
  max-width: 42.8rem;
}

.footer .newsletter-form__field-wrapper {
  max-width: 42.8rem;
}

@media (min-width: 990px) {
  .footer-block__newsletter {
    width: 42%;
    min-width: 42%;
  }
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

.footer__localization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;
}

.localization-form:only-child {
  display: inline-flex;
  flex-wrap: wrap;
  flex: initial;
  padding: 1rem 0;
}

.localization-form:only-child .button,
.localization-form:only-child .localization-form__select {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    padding: 0.4rem 0;
    justify-content: flex-start;
  }

  .localization-form {
    padding: 1rem 2rem 1rem 0;
  }

  .localization-form:first-of-type {
    padding-left: 0;
  }

  .localization-form:only-child {
    justify-content: start;
    width: auto;
    margin: 0 1rem 0 0;
  }

  .localization-form:only-child .button,
  .localization-form:only-child .localization-form__select {
    margin: 1rem 0;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (max-width: 989px) {
  noscript .localization-form:only-child,
  .footer__localization noscript {
    width: 100%;
  }
}

.localization-form .button {
  padding: 1rem;
}

.localization-form__currency {
  display: inline-block;
}

@media screen and (max-width: 749px) {
  .localization-form .button {
    word-break: break-all;
  }
}

.localization-form__select {
  border-radius: var(--inputs-radius-outset);
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  text-align: left;
  min-height: calc(4rem + var(--inputs-border-width) * 2);
  min-width: calc(7rem + var(--inputs-border-width) * 2);
}

.disclosure__button.localization-form__select {
  padding: calc(2rem + var(--inputs-border-width));
  background: rgb(var(--color-background));
}

noscript .localization-form__select {
  padding-left: 0rem;
}

@media screen and (min-width: 750px) {
  noscript .localization-form__select {
    min-width: 20rem;
  }
}

.localization-form__select .icon-caret {
  position: absolute;
  content: '';
  height: 0.6rem;
  right: calc(var(--inputs-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
}

.localization-selector.link {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgb(var(--color-foreground));
  width: 100%;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
}

noscript .localization-selector.link {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.disclosure .localization-form__select {
  padding-top: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  margin-left: 1rem;
  opacity: 1;
  animation: animateLocalization var(--duration-default) ease;
}


@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__copyright {
  color: #fff;
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content,
.footer-block__details-content p a {
  color: #fff;
  line-height: 2.1rem;
}

.footer-block__details-content p a {
  display: block;
  width: fit-content;
  padding: 1.5rem 0 1rem;
  font-weight: 400;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content p a {
    font-weight: 600;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: #fff;
}

.footer-block__details-content .list-menu__item--link {
  margin-bottom: 1.6rem;
  padding: 0;
  line-height: 2.1rem;
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

@media screen and (max-width: 749px) {
  .footer-block-image {
    text-align: center;
  }
}

.footer-block-image > img {
  height: auto;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content a {
  text-decoration: none;
}

.footer__legal {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

@keyframes animateLocalization {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.footer .disclosure__link {
  padding: 0.95rem 3.5rem 0.95rem 2rem;
  color: rgba(var(--color-foreground), 0.75);
}

.footer .disclosure__link:hover {
  color: rgb(var(--color-foreground));
}

.footer .disclosure__link--active {
  text-decoration: underline;
}

/* check for flexbox gap in older Safari versions */
.footer__top-bg {
  display: block;
  width: 100%;
  height: auto;
}

.footer__bottom-bg {
  display: block;
  width: 100%;
  height: auto;
}
